.inDebt {
    color: red;
}
#buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#fightContainer {
    background-color: lightgreen;
    height: 170px;
    border: solid black 5px;
}
.lowhp {
    background-color: red !important;
}
#buttons .allinbtn {
    color: black;
    background-color: red;
    padding: 15px;
    font-size: 24px;
    margin: 10px;
}
#buttons .halfinbtn {
    padding: 15px;
    font-size: 24px;
    margin: 10px;
    background-color: aliceblue;
}
#info {
    border: 5px solid black;
    right: 50%;
    width: 50%;
    padding: 5px;
}