.inDebt {
    color: red;
}
#buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#fightContainer {
    background-color: lightgreen;
    height: 170px;
    border: solid black 5px;
}
.lowhp {
    background-color: red !important;
}